.spinner {
    display: inline-block;
    width: 64px;
    height: 64px;
}
.spinner:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #1d1d1d;
    border-color: #1d1d1d transparent #1d1d1d transparent;
    animation: spinner-spin 1.2s linear infinite;
}
@keyframes spinner-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
