.header {
    margin: 0 0 20px 0;
    padding: 10px;
    background: #1d1d1d;
}

.header__title {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.8);
}

.header__navigation {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.header__navigation__links {
    display: block;
    padding: 5px 10px;
    margin: 2px;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

.header__navigation__links:hover {
    color: rgba(255, 255, 255, 0.3);
}

.header__navigation__links--active {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 3px;
}
